// Put in correct folders

.c-content {
  code {
    background: #EEE;
    color: red;
    padding: 0.3rem;
    border-radius: 0.2rem;
  }
}

.c-container--small {
  width: 80%;
  padding: 3.2rem;
  max-width: 66rem;
  margin: 0 auto;
}